go 1.25.0

use (
	./com/codec/base64
	./com/codec/json
	./com/codec/jsonv2
	./com/codec/msgpack

	./com/generator/dgenerator

	./com/log/dlog
	./com/log/gf
	./com/log/nop

	./com/pool/ants

	./com/storage/memory
	./com/storage/redis

	./core
	./defaults
	./dtoken

	./examples/chi
	./examples/beego
	./examples/echo
	./examples/fiber
	./examples/gf
	./examples/gin
	./examples/hertz
	./examples/kratos
	./examples/quick_start
	./examples/sso_client
	./examples/sso_gin_client
	./examples/sso_gin_server
	./examples/sso_server
	./integrations/authcheck
	./integrations/beego

	./integrations/chi
	./integrations/echo
	./integrations/fiber
	./integrations/gf
	./integrations/gin
	./integrations/hertz
	./integrations/kratos
	./sso
	./sso/storage/redis
	./tests/gin_core_app

	./tests/gin_core_flow
)
