go 1.25.0

use (
	./com/codec/base64
	./com/codec/json
	./com/codec/jsonv2
	./com/codec/msgpack

	./com/generator/dgenerator
	./com/log/dlog
	./com/log/gf

	./com/log/nop

	./com/pool/ants

	./com/storage/memory
	./com/storage/redis

	./core
	./dtoken

	./examples/gf
	./examples/gf_v2
	./examples/gin
	./examples/quick_start
	./examples/zero

	./integrations/fiber
	./integrations/gf
	./integrations/gin
	./integrations/zero
	./integrations/echo
)
